<po-page-default
    p-title="Adicionar Currículo"
    [p-actions]="pageActions">

    <div class="po-row">
        <po-number
            class="po-md-2"
            name="curriculum.id"
            [(ngModel)]="curriculum.id"
            p-label="Código">
        </po-number>
        <po-input
            class="po-md-6"    
            name="curriculum.name"
            [(ngModel)]="curriculum.name"
            p-label="Descrição">
        </po-input>
    </div>

    <po-widget
        class="po-md-8"
        p-title="Disciplinas">
        <div class="po-row">
            <po-combo
                class="po-md-8"
                name="comboValue"
                [(ngModel)]="comboValue"
                p-label="Selecionar Disciplina"
                [p-options]="subjects">
            </po-combo>
            <po-button
                class="po-md-4 po-mt-4"
                p-label="Adicionar Disciplina"
                p-icon="po po-icon-plus"
                (p-click)="add()">
            </po-button>
        </div>
        <div class="po-row">
            <po-table
                class="po-md-12"
                [p-items]="curriculum.subjects"
                [p-columns]="columns"
                p-striped>
            </po-table>
        </div>
    </po-widget>

</po-page-default>
