<po-page-default
    p-title="Disciplinas"
    [p-actions]="pageActions">
    <po-table
        [p-items]="items"
        [p-columns]="columns"
        p-striped>
    </po-table>

    <po-modal #modal
        p-click-out="false"
        p-hide-close="false"
        [p-primary-action]="confirm"
        [p-secondary-action]="cancel"
        p-size="md"
        [p-title]="modalTitle">
        <form>
            <div class="po-row">
                <po-input
                    class="po-md-2"
                    p-label="Código"
                    name="subject.code"
                    [(ngModel)]="subject.code"
                    [p-disabled]="!isNew">
                </po-input>
                <po-input
                    class="po-md-10"
                    p-label="Descrição da Disciplina"
                    name="subject.name"
                    [(ngModel)]="subject.name">
                </po-input>
            </div>
        </form>
    </po-modal>

</po-page-default>
