<po-page-default
    p-title="Alunos"
    [p-actions]="pageActions">
    <po-table
        [p-items]="items"
        [p-columns]="columns"
        p-striped>
    </po-table>

    <po-modal #modal
        p-click-out="false"
        p-hide-close="false"
        [p-primary-action]="confirm"
        [p-secondary-action]="cancel"
        p-size="md"
        [p-title]="modalTitle">
        <form>
            <div class="po-row">
                <po-input
                    class="po-md-10"
                    p-label="Nome do Aluno"
                    name="student.name"
                    [(ngModel)]="student.name">
                </po-input>
            </div>
            <div class="po-row">
                <po-select
                    class="po-md-12"
                    name="comboValue"
                    [(ngModel)]="comboValue"
                    (p-change)="changeCurriculum()"
                    p-label="Selecionar Currículo"
                    [p-options]="curriculums">
                </po-select>
            </div>
        </form>
    </po-modal>

</po-page-default>
